{% extends "template.html" %}

{% block title %}Track your day{% endblock %}

{% block main %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 mb-3">
            <h1>Track your day</h1>
        </div>
        <div class="col-6 h-25">
            <a href="{{ url_for('list_journey') }}">
            <div class="card bg-dark text-white">
                <img class="card-img card-img-top" 
                    src="{{url_for('static', filename='travel.jpeg')}}"
                    alt="Card image">
                <div class="card-img-overlay">
                    <h3 class="card-title text-center">Track travel</h3>
                </div>
            </div>
            </a>
        </div>
        <div class="col-6">
                <a href="{{ url_for('list_game') }}">
            <div class="card bg-dark text-white">
                <img class="card-img card-img-top"
                    src="{{url_for('static', filename='gaming.jpg')}}"
                    alt="Card image">
                <div class="card-img-overlay">
                    <h3 class="card-title text-center">Track gaming</h3>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}